apiVersion: v1
kind: Secret
metadata:
  name: app
  namespace: meetup-bot
type: Opaque
stringData:
  APP_TOKEN:
  BOT_USER_TOKEN:
  CLIENT_ID:
  CLIENT_SECRET:
  DB_USER:
  MEETUP_EMAIL:
  MEETUP_PASS:
  PRIV_KEY_B64:
  PUB_KEY_B64:
  REGISTRY_PASS:
  SECRET_KEY:
  SELF_ID:
  SIGNING_KEY_ID:
  SIGNING_SECRET:
  SLACK_WEBHOOK:
  USER_TOKEN:
---
apiVersion: v1
kind: Secret
metadata:
  name: db
  namespace: meetup-bot
type: Opaque
stringData:
  DB_HOST:
  DB_NAME:
  DB_PASS:
  DB_PORT:
  DB_URL:
